*.suo
src/MangaUtilities/MangaUtilities.sln.DotSettings.user
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.exe.config
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.vshost.exe
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.vshost.exe.config
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.vshost.exe.manifest
src/MangaUtilities/Mu.Client/obj/Debug/App.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Client/obj/Debug/MainWindow.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client_MarkupCompile.i.cache
src/MangaUtilities/Mu.Client/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
src/MangaUtilities/Mu.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.Core/bin/Debug/Mu.Core.dll
src/MangaUtilities/Mu.Core/bin/Debug/Mu.Core.pdb
src/MangaUtilities/Mu.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.dll
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.pdb
src/MangaUtilities/Mu.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.GoodManga/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.GoodManga/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.GoodManga/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.GoodManga/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Core.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Core.pdb
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Tests.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Tests.dll.config
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Tests.pdb
src/MangaUtilities/Mu.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.dll
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.pdb
src/MangaUtilities/Mu.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.Client/bin/Debug/Fluent.dll
src/MangaUtilities/Mu.Client/bin/Debug/Fluent.pdb
src/MangaUtilities/Mu.Client/bin/Debug/Fluent.xml
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Composition.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Composition.xml
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Interactivity.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Interactivity.xml
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.MefExtensions.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.MefExtensions.xml
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Mvvm.Desktop.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Mvvm.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.Mvvm.xml
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.PubSubEvents.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.xml
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.ServiceLocation.dll
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
src/MangaUtilities/Mu.Client/bin/Debug/Microsoft.Practices.ServiceLocation.xml
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.exe
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.pdb
src/MangaUtilities/Mu.Client/bin/Debug/ReactiveUI.Blend.dll
src/MangaUtilities/Mu.Client/bin/Debug/ReactiveUI.Blend.xml
src/MangaUtilities/Mu.Client/bin/Debug/ReactiveUI.Xaml.dll
src/MangaUtilities/Mu.Client/bin/Debug/ReactiveUI.Xaml.xml
src/MangaUtilities/Mu.Client/bin/Debug/ReactiveUI.dll
src/MangaUtilities/Mu.Client/bin/Debug/ReactiveUI.xml
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Core.dll
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Core.xml
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Interfaces.dll
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Interfaces.xml
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Linq.dll
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Linq.xml
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.PlatformServices.dll
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.PlatformServices.xml
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Windows.Threading.dll
src/MangaUtilities/Mu.Client/bin/Debug/System.Reactive.Windows.Threading.xml
src/MangaUtilities/Mu.Client/bin/Debug/System.Windows.Interactivity.dll
src/MangaUtilities/Mu.Client/obj/Debug/Alarms/AlarmsRibbonController.baml
src/MangaUtilities/Mu.Client/obj/Debug/Alarms/AlarmsRibbonController.g.cs
src/MangaUtilities/Mu.Client/obj/Debug/Alarms/AlarmsRibbonController.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/Alarms/Images.baml
src/MangaUtilities/Mu.Client/obj/Debug/App.baml
src/MangaUtilities/Mu.Client/obj/Debug/App.g.cs
src/MangaUtilities/Mu.Client/obj/Debug/ApplicationController.baml
src/MangaUtilities/Mu.Client/obj/Debug/ApplicationController.g.cs
src/MangaUtilities/Mu.Client/obj/Debug/ApplicationController.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/ApplicationWindow.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/MangaUtilities/Mu.Client/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.Alarms.AlarmsResources.resources
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.Properties.Resources.resources
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.csproj.GenerateResource.Cache
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.exe
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.g.resources
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.pdb
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client_Content.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client_MarkupCompile.cache
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client_MarkupCompile.i.lref
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client_MarkupCompile.lref
src/MangaUtilities/Mu.Client/obj/Debug/TempPE/Alarms.AlarmsResources.Designer.cs.dll
src/MangaUtilities/Mu.GoodManga/obj/Debug/Mu.GoodManga.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.GoodManga/obj/Debug/Mu.GoodManga.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.GoodManga/obj/Debug/Mu.GoodManga.dll
src/MangaUtilities/Mu.GoodManga/obj/Debug/Mu.GoodManga.pdb
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Composition.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Composition.xml
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Interactivity.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Interactivity.xml
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.MefExtensions.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.MefExtensions.xml
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Mvvm.Desktop.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Mvvm.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.Mvvm.xml
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.PubSubEvents.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.xml
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.ServiceLocation.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
src/MangaUtilities/Mu.Tests/bin/Debug/Microsoft.Practices.ServiceLocation.xml
src/MangaUtilities/Mu.Tests/bin/Debug/ReactiveUI.Blend.dll
src/MangaUtilities/Mu.Tests/bin/Debug/ReactiveUI.Blend.xml
src/MangaUtilities/Mu.Tests/bin/Debug/ReactiveUI.Xaml.dll
src/MangaUtilities/Mu.Tests/bin/Debug/ReactiveUI.Xaml.xml
src/MangaUtilities/Mu.Tests/bin/Debug/ReactiveUI.dll
src/MangaUtilities/Mu.Tests/bin/Debug/ReactiveUI.xml
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Core.dll
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Core.xml
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Interfaces.dll
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Interfaces.xml
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Linq.dll
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Linq.xml
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.PlatformServices.dll
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.PlatformServices.xml
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Windows.Threading.dll
src/MangaUtilities/Mu.Tests/bin/Debug/System.Reactive.Windows.Threading.xml
src/MangaUtilities/Mu.Tests/bin/Debug/System.Windows.Interactivity.dll
src/MangaUtilities/Mu.Tests/bin/Debug/de/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/en/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/es/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/fr/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/it/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/ja/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/ko/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/ru/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/zh-Hans/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Tests/bin/Debug/zh-Hant/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Composition.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Composition.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Interactivity.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Interactivity.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.MefExtensions.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.MefExtensions.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Mvvm.Desktop.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Mvvm.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.Mvvm.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.PubSubEvents.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.ServiceLocation.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
src/MangaUtilities/Mu.GoodManga/bin/Debug/Microsoft.Practices.ServiceLocation.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/Mu.GoodManga.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/Mu.GoodManga.pdb
src/MangaUtilities/Mu.GoodManga/bin/Debug/ReactiveUI.Blend.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/ReactiveUI.Blend.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/ReactiveUI.Xaml.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/ReactiveUI.Xaml.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/ReactiveUI.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/ReactiveUI.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Core.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Core.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Interfaces.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Interfaces.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Linq.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Linq.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.PlatformServices.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.PlatformServices.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Windows.Threading.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Reactive.Windows.Threading.xml
src/MangaUtilities/Mu.GoodManga/bin/Debug/System.Windows.Interactivity.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/de/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/en/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/es/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/fr/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/it/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/ja/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/ko/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/ru/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/zh-Hans/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.GoodManga/bin/Debug/zh-Hant/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Composition.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Composition.xml
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Interactivity.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Interactivity.xml
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.MefExtensions.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.MefExtensions.xml
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Mvvm.Desktop.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Mvvm.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.Mvvm.xml
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.PubSubEvents.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.xml
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.ServiceLocation.dll
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
src/MangaUtilities/Mu.Core/bin/Debug/Microsoft.Practices.ServiceLocation.xml
src/MangaUtilities/Mu.Core/bin/Debug/ReactiveUI.Blend.dll
src/MangaUtilities/Mu.Core/bin/Debug/ReactiveUI.Blend.xml
src/MangaUtilities/Mu.Core/bin/Debug/ReactiveUI.Xaml.dll
src/MangaUtilities/Mu.Core/bin/Debug/ReactiveUI.Xaml.xml
src/MangaUtilities/Mu.Core/bin/Debug/ReactiveUI.dll
src/MangaUtilities/Mu.Core/bin/Debug/ReactiveUI.xml
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Core.dll
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Core.xml
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Interfaces.dll
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Interfaces.xml
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Linq.dll
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Linq.xml
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.PlatformServices.dll
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.PlatformServices.xml
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Windows.Threading.dll
src/MangaUtilities/Mu.Core/bin/Debug/System.Reactive.Windows.Threading.xml
src/MangaUtilities/Mu.Core/bin/Debug/System.Windows.Interactivity.dll
src/MangaUtilities/Mu.Core/bin/Debug/de/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/en/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/es/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/fr/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/it/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/ja/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/ko/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/ru/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/zh-Hans/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core/bin/Debug/zh-Hant/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Composition.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Composition.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Interactivity.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Interactivity.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.MefExtensions.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.MefExtensions.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Mvvm.Desktop.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Mvvm.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.Mvvm.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.PubSubEvents.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.Prism.SharedInterfaces.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.ServiceLocation.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Microsoft.Practices.ServiceLocation.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Mu.Core.Mvvm.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/Mu.Core.Mvvm.pdb
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ReactiveUI.Blend.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ReactiveUI.Blend.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ReactiveUI.Xaml.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ReactiveUI.Xaml.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ReactiveUI.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ReactiveUI.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Core.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Core.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Interfaces.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Interfaces.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Linq.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Linq.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.PlatformServices.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.PlatformServices.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Windows.Threading.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Reactive.Windows.Threading.xml
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/System.Windows.Interactivity.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/de/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/en/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/es/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/fr/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/it/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ja/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ko/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/ru/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/zh-Hans/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/bin/Debug/zh-Hant/System.Windows.Interactivity.resources.dll
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/Mu.Core.Mvvm.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/Mu.Core.Mvvm.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/Mu.Core.Mvvm.dll
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/Mu.Core.Mvvm.pdb
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Core.Mvvm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
