*.suo
src/MangaUtilities/MangaUtilities.sln.DotSettings.user
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.exe.config
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.vshost.exe
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.vshost.exe.config
src/MangaUtilities/Mu.Client/bin/Debug/Mu.Client.vshost.exe.manifest
src/MangaUtilities/Mu.Client/obj/Debug/App.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Client/obj/Debug/MainWindow.g.i.cs
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client_MarkupCompile.i.cache
src/MangaUtilities/Mu.Client/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
src/MangaUtilities/Mu.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.Core/bin/Debug/Mu.Core.dll
src/MangaUtilities/Mu.Core/bin/Debug/Mu.Core.pdb
src/MangaUtilities/Mu.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.dll
src/MangaUtilities/Mu.Core/obj/Debug/Mu.Core.pdb
src/MangaUtilities/Mu.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.GoodManga/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.GoodManga/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.GoodManga/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.GoodManga/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Core.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Core.pdb
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Tests.dll
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Tests.dll.config
src/MangaUtilities/Mu.Tests/bin/Debug/Mu.Tests.pdb
src/MangaUtilities/Mu.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.csproj.FileListAbsolute.txt
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.csprojResolveAssemblyReference.cache
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.dll
src/MangaUtilities/Mu.Tests/obj/Debug/Mu.Tests.pdb
src/MangaUtilities/Mu.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/MangaUtilities/Mu.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/MangaUtilities/Mu.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/MangaUtilities/Mu.Client/obj/Debug/Mu.Client.csprojResolveAssemblyReference.cache
